@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(233, 228, 228);
}

.container {
  width: 100%;
  max-width: 400px;
  background: #17202a;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.screen {
  width: 100%;
}

.screen input {
  width: 100%;
  padding: 0.2rem 0.6rem;
  font-size: 1.8rem;
  text-align: right;
  margin: 1rem 0;
  font-weight: 600;
  border-radius: 2px;
  border: none;
}

.cal_btn {
  padding: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul li {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  width: 20%;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0.4rem;
  background: #ffffff;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

ul li:active {
  transform: scale(1.2);
}

#equals {
  width: 100%;
  background: #7c75b9;
}
